// Colors from the XR Brand guide, found in the XR NL Wordpress theme
$xr-black: #000000;
$xr-white: #ffffff;
$xr-green: #14aa37;
$xr-lemon: #f7ee6a;
$xr-pink: #ed9bc4;
$xr-light-green: #bed276;
$xr-bright-pink: #cf6297;
$xr-dark-blue: #3860aa;
$xr-light-blue: #75d0f1;
$xr-purple: #986297;
$xr-warm-yellow: #ffc11e;
$xr-red: #dc4f00;
$xr-angry: #c80082;
$xr-primary: $xr-green;

$xr-green-light: #14AA7D;
