.container{
    width: calc(100% - ( 2* #{$distance-md}));

    @media (min-width: $breakpoint-sm) {

        &__hamburger{
            display: none;
        }
    }

    &--md{
        @media (min-width: $breakpoint-sm) {
            width: 1140px;
        }
    }

    &--margin-top{
        margin-top: $distance-lg;
    }
}