.nav-link{
    color: black;
    height: 36px;
    min-width: 64px;
    padding: 0 $distance-xs;
    margin: 0 $distance-xs;

    @include font-heading();
    font-size: $font-size-md;
    text-decoration: none;
    line-height: 2;

    &:hover{
        background-color: lighten($xr-primary, 10%);
    }
    &.router-link-exact-active{
        background-color: lighten($xr-primary, 20%);
    }

    &--white{
        color: white;
    }
}