// styles in this file are available from all components
@import "base/colours";
@import "base/typography";
@import "variables";

// components
@import "components/nav-link";
@import "components/nav-bar";

.xr-title {
  font-family: "FucXed";
}

// transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.v-btn {
  font-family: "FucXed";
  padding: 0.5rem 1rem;
  box-shadow: none;
}

.v-content {
  margin-top: $nav-bar-height;
}

.fix-z-index {
  position: relative;
}

.bg-primary {
  background: $xr-green-light;
}

.bg-green {
  background: $xr-green;
}

.bg-light-green {
  background: $xr-light-green;
}

.bg-light-blue {
  background: $xr-light-blue;
}

.bg-warm-yellow {
  background: $xr-warm-yellow;
}

.bg-white {
  background: $xr-white;
}

.bg-black {
  background: $xr-black;
}

.text-md-large {
  @media #{map-get($display-breakpoints, "md-and-up")} {
    font-size: 60px;
    line-height: 1.2;
  }
}

.w-50 {
  width: 50%;
}