// styles in this file are available from all components
@import "base/typography";
@import "variables";

.xr-title {
  font-family: "FucXed";
}

// transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.v-btn {
  font-family: "FucXed";
  padding: .5rem 1rem;
  box-shadow: none;
}
