// this file contains variables for vuetify components
// Do not change file path as vuetify looks for this specific path.
// @import "~vuetify/src/styles/settings/colors";
@import "~vuetify/src/styles/styles.sass";
@import "./base/_colours.scss";

// Globals
// Change body font
// $body-font-family: 'Crimson Text', serif;
// Change header font
// $heading-font-family: $body-font-family;

// Do not pass all material design colors
// Saves 30kb of transfer
$color-pack: false;

// set background of light mode to pure white
$material-light: (
  "background": map-get($shades, "white"),
);

$material-dark: (
  "background": #121212,
  // recommended material design background color
    "cards": #1e1e1e,
);

// ROOTS
$border-radius-root: 0;

// FONTS
$body-font-family: 'Lucida Sans', serif;
$font-size-root: 18px;

$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;

// Dimensions
$distance-xs: .5rem;
$distance-sm: 1rem;
$distance-md: 1.75rem;
$distance-lg: 3.5rem;
$distance-xl: 5rem;

// Breakpoints
$breakpoint-sm: 600px;

// $heading-font-family: 'FucXed', sans-serif !default;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 12.25rem,
    'line-height': 1.5em
  )
);

// These variables will overwrite the vuetify variables
// BTN
// $btn-letter-spacing: 2px;
$btn-font-weight: 600;

$logo-height: 2.5rem;
$navbar-padding-vertical: $distance-xs;
$nav-bar-height: calc(#{$logo-height} + (#{$navbar-padding-vertical} * 2));

// Variables for specific components must come before the import

// Any component modifications must be imported at the bottom
// Example:
// @import '~vuetify/src/components/VBtn/variables';
// @import '~vuetify/src/styles/styles';