$theme-colors: (
  "primary": #21a73d,
  "green": #21a73d,
  "yellow": #ffc113,
  "pink": #ed9bc4,
  "red": #dc4f00,
  "orange": #f19631,
  "blue": #75d0f1,
  "black": #000,
  "navy": #3860aa,
  "purple": #906198,
  "white": #fff,
) !default;


$blue-light: #ceebf8;
$blue-light: lighten(map-get($theme-colors, "blue"), 20%);

$orange-light: #ffc11e;
$yellow-light: lighten(map-get($theme-colors, "orange"), 20%);
// orange
$khaki-light: #c2d081;
$yellow-light: lighten(map-get($theme-colors, "yellow"), 20%);
$red-light: #de7345;
$navy-light: #748cbe;
$pink-light: #fbb6ce;
$purple-light: #a77fad;
$lemon-light: #f4f07a;
$green-light: #4ea648;



.blue-light {
  background: $blue-light;
}

.yellow-light {
  background: $yellow-light;
}

.khaki-light {
  background: $khaki-light;
}

.red-light {
  background: $red-light;
}

.navy-light {
  background: $navy-light;
}

.pink-light {
  background: $pink-light;
}

.purple-light {
  background: $purple-light;
}

.lemon-light {
  background: $lemon-light;
}

.green-light {
  background: $green-light;
}