$theme-colors: (
  "primary": #21a73d,
  "green": #21a73d,
  "yellow": #ffc113,
  "pink": #ed9bc4,
  "red": #dc4f00,
  "orange": #f19631,
  "blue": #75d0f1,
  "black": #000,
  "navy": #3860aa,
  "purple": #906198,
  "white": #fff,
) !default;

$blue-light: #ceebf8;
$yellow-light: #ffc11e;
$khaki-light: #c2d081;
$red-light: #de7345;
$navy-light: #748cbe;
$pink-light: #fbb6ce;
$purple-light: #a77fad;
$lemon-light: #f4f07a;
$green-light: #4ea648;