@font-face {
  font-family: 'FucXed';
  src:
  url('~@/assets/fonts/FUCXEDCAPSLatin-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/FUCXEDCAPSLatin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Crimson Text';
  src: url('~@/assets/fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('~@/assets/fonts/Lucida_Sans.ttf') format('truetype');
}

h1,h2,h3,h4,h5{
  font-family: 'FucXed';
  letter-spacing: 1px;
}

@mixin font-heading(){
  font-family: "FucXed";
  font-weight: 500;
    letter-spacing: 0.0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    font-size: 0.875rem;
}